.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgb(6, 6, 6);
  margin-bottom: 5px;
}

.header_left {
  display: flex;
  justify-content: space-evenly;
}
.header_center {
  display: flex;
  justify-content: space-evenly;
}

.header_right {
  display: flex;
  justify-content: space-evenly;
}

.header_input {
  padding: 3px;
  text-align: center;
}
.header_options {
  color: gray;
  padding: 0 30px;
  cursor: pointer;
}
.header_options:hover {
  color: #2e81f4;
}
